@import url(normalize.css);


body{
    position: relative;
    background-color: white;
    font-family: 'Nunito Sans', sans-serif;
}
body::before{
    position: absolute;
    content: " ";
    width: 118px;
    height: 1055px;
    background-color: #F9F9F9;
    left: 230px;
    z-index: -1;
}


.room{
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    padding: 55px 137px;
    justify-content: space-between;
}
.room a{
    text-decoration: none;
    font-size: 32px;
}
nav a{
    text-decoration: none;
    font-size: 19px;
    justify-content: space-between;
    margin-right: 35px;
}
nav a:last-child{
    margin-right: 0;
}
.category a{
    text-decoration: none;
    font-size: 19px;
}
nav, a{
    position: relative;
}
header a::after{
    content:"";
    position: absolute;
    bottom: -8px;
    left:50%;
    background-color: #F2994A;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    opacity: 0;
}
  a:hover::after {
    opacity: 1;
  }
.category a{
    margin-right: 31px;
}
h2, h1{
    margin: 0;
}
.container{
    width: 81%;
    padding: 100px 135px 51px 135px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.content{
    width: 53%;
    display: flex; 
    flex-direction: row-reverse;  
    align-items: center;
}
.image img {
    max-width: 100%;
}
.title {
    width: 494px;
    text-align: left;
    /* display: flex; */
    align-items: center;
}
h2{
    color: #F2994A;
    font-size: 24px;
    margin-bottom: 25px;
}
h2::after{
    content: "";
    background-image: url(../img/plus-icon\ \(1\).svg);
    background-repeat: no-repeat;
    background-size: 11px 11px;
    width: 11px; 
    height: 11px; 
    display: inline-block;
    margin-left: 341px; 
    margin-top: 5px; 
    position: relative;
}
/* h2::after{
    content: "";
    background-image: url(../img/Rectangle\ 171.svg);
    background-repeat: no-repeat;
    background-size: 1px 401px;
    width: 1px;
    height: 401px;
    color: #333333;
    display: inline-block;
    position: relative;
    padding-left: 341px;
    margin-left: 0;
} */
h1{
    font-size: 65px;
}
.prg p{
    width: 416px;
    color: #4F4F4F;
    font-size: 16px;
    margin-top: 115px;
}
p{
    margin: 0;
}
.prg p::before{
    position: absolute;
    content: "";
    width: 188px;
    height: 6px;
    border-radius: 4px;
    background: #F2994A;
    margin-top: -32px;
}
.down{
    width: 613px;
}
.video{
    display: flex;
    font-size: 18px;
    /* margin-top: 32px;
    margin-bottom: 21px; */
    align-items: center;
}
.video button{
    width: 85px;
    height: 85px;
    color: #3F9AB7;
    border-radius: 50%;
    border: #3F9AB7;
    text-align: center;
    background-color: #3F9AB7;
    outline: none;
    margin-right: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video a.video-link {
    text-decoration: none;
    display: flex;
    align-items: center; 
}
.video span {
    display: inline; 
}
.line {
    width: 1px; 
    height: 400px; 
    background-color: #000; 
    position: absolute; 
    top: 252px; 
    right: 136px; 
}

.icons{
    position: relative;
    display: flex;
    flex-direction: row-reverse; 
    right: -26px;
    top: 10px;
}
.icons ul {
    /* display: inline-block; */
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}
.icons .list-icon{
    list-style: none;
}
.icons .list-icon li{
    display: block;
    margin-bottom: ;
}
.icons .list-icon li{
    margin-bottom: 18px;
}
/* .icons .list-icon li:nth-child(2){
    margin-bottom: 26px;
} */
.icons .list-icon li a img {
    width: 18px; 
    height: 18px; 
}

.down {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-top: 39px;
}
.video {
    display: flex;
    align-items: center; 
}

.icons .list-icon li:first-child:hover{
    content: url(../img/Vector.svg);
    width: 18px;
    height: 18px;
}

.icons .list-icon li:nth-child(2):hover{
    content: url(../img/instagram-hover.svg);
    width: 18px;
    height: 18px;
}

.icons .list-icon li:last-child:hover{
    content: url(../img/facebook-hover.svg);
    width: 17px;
    height: 17px;
}

.icons .list-icon li a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.icons .list-icon li a::after{
    content:" ";
    position: absolute;
    bottom: -8px;
    left:50%;
    background-color: #F2994A;
    width: 34px;
    height: 34px;
    border-radius: 100px;
    opacity: 0;
}
.icons .list-icon li:hover a::after{
    opacity: 1;
}

/* footer */

footer {
    width: 100%;
    padding: 43px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3F9AB7;
    margin-top: 32px;
    margin-bottom: 45px;
}

.photos {
    display: flex;
    align-items: center;
}

.photos img {
    margin-left: -22px;
}

.text-block {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.text-block span {
    color: #FFFFFF;
    margin-right: 5px;
}
.photos p{
    font-size: 24px;
    color: white;
}
.photos .lol{
    margin-left: 32px;
    margin-right: 8px;
}